body {
	background-color: grey;
	
	}
#wrapper{

	background-image: url("../images/color3.png");
	width:920px;
	height:2470px;
	margin-left:auto;
	margin-right:auto;

	}
#header{
 	margin-left:auto;
	margin-right:auto;
	position:absolute;
	z-index:5;
	top:15px;}

#home{
	background-image: url("../images/home3.png");
	width:900px;
	height:410px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	top:270px;
	z-index:4;}

#about{
	background-image: url("../images/about.png");
	width:900px;
	height:835px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	top:600px;
	z-index:3;
	}
	
#product {
	background-image: url("../images/product2.png");
	width:900px;
	height:836px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	z-index:2;
	top:1350px;
	}
#images{
margin-left:20%;
margin-right:auto;
}
#footer{
	position:absolute;
	z-index:1;
	top:2150px;
	margin-left:auto;
	margin-right:auto;
	}
	
